<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagline</title>
</head>
<body>
    <div class="card text-white border-0 rounded-0">
        <img src="https://cdn.pixabay.com/photo/2015/02/25/17/56/cat-649164_1280.jpg" class="card-img border-0 rounded-0" alt="Cat img">
        <div class="card-img-overlay pt-5 mt-5 d-flex flex-column p-0">
            <div>
                <h1 class="card-title mb-5 d-flex justify-content-center bg-light text-dark bg-opacity-50 fw-bold" style="font-size: 100px;">CAT LOVER</h1>
                <p class="card-text pt-4 d-flex justify-content-center bg-light text-dark bg-opacity-50 fw-bold" style="font-size: 45px;">''El hombre tiene dos medios para refugiarse de las miserias de la vida:</p>
            </div>
            <div>
                <p class="card-text pb-4 d-flex justify-content-center bg-light text-dark bg-opacity-50 fw-bold" style="font-size: 45px;">la música y los gatos'', Albert Schweitzer.</p>
            </div>
        </div>
      </div>
</body>
</html>